
footer{
    height: 220px;
    font-family: 'Inter',sans-serif;
    letter-spacing: 1px;
    width: 100%;
    color: var(--cor-neutra-branca);
}
/*container*/
#footer_container{
    background-color: var(--cor-preta);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}
/*palavra logo*/
#footer_contatos h4{
    margin-bottom: 0.75rem;
}
/*container dos icones*/
#midias_sociais{
    display: flex;
    gap: 2rem;
}
/*links e icones*/
#midias_sociais .link_midias{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--cor-neutra-branca);
    border-radius: 50%;
    transition: all 0.4s;
}
/*configuração do link*/
#midias_sociais .link_midias{
    text-decoration: none;
}
#midias_sociais .link_midias:hover{
    opacity: 0.8;
}
/*tamanho do icone*/
#midias_sociais .link_midias i{
    font-size: 1.25rem;
}
/*icone em individual*/
#instagram{
    background: linear-gradient(#7f37c9, #Ff2992, #ff9807); 
}
#facebook{
    background-color: #4267b3;
}
#linkedin {
    background-color: #0A66C2; 
}

#email {
    background-color: #5f6368; 
}
/*listas*/
.footer_lista{ /*para adiconar gap */
    display: flex;
    flex-direction: column;
    list-style: none;
}
/*links da parte de listas*/
.footer_lista .link_midias{
    text-decoration: none;
    color:var(--cor-ciza) ;
    transition: all 0.4s;
}
.footer_lista .link_midias:hover{
    color: #F15B43;
}
.link_midias:hover{
    transform: scale(1.1) translateY(-3px); 
    opacity: 0.9; 
}
/*copyright*/
#copyright{
    display: flex;
    justify-content: center;
    background-color:var(--cor-copyright);
    padding: 1.2rem;
}