
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-neutra-branca:#f5f5f5;
    --cor-preta:#171717;
    --cor-copyright:#0e0c0c;
    --cor-ciza:#a8a29e;
}
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
#menu_hamburguer {
    display: none;
    font-size: 32px;
    cursor: pointer;
}
menu{
    display: flex;
    height: 70px;
    justify-content: space-around;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}
.logo_getinfo img{
    width: 100px;
    height: 70px;
}
nav{
    display: flex;
    align-items: center;
    gap: 25px;
}
.a_hover {
    text-decoration: none; 
    color: #333; 
    position: relative; 
    transition: color 0.3s ease; 
}

.a_hover:hover {
    color: #F15B43; 
}
.botao_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F15B43; 
    color: #fff; 
    height: 30px;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 14px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.botao_header a{
    color: white;
}
.botao_header:hover{
    transform: scale(1.005); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
}
/* Estilo para o link dentro do botão */
button a {
    text-decoration: none;
}
/* Estilos para o menu dropdown */
.dropdown {
    position: relative;
}

#iconenav {
    vertical-align: middle; 
}

/* Estilos para o menu dropdown */
.dropdown-menu {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: #fff; 
    border: 1px solid #ccc; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
    z-index: 1000; 
    min-width: 130px; 
}

.dropdown-menu li {
    list-style: none; 

}

/* links dentro do menu dropdown */
.dropdown-menu a {
    text-transform: lowercase;
    display: block; 
    padding: 10px 15px; 
    color: #333; 
    text-decoration: none; 
}

.dropdown-menu a:hover {
    background-color: #f0f0f0; 
}

.dropdown:hover .dropdown-menu {
    display: block; 
}
/*main e criar campanha*/
main {
    height: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campanha-form {
    width: 600px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.315);
    border-radius: 10px;
    padding: 45px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
iframe{
    height: 200px;
}
textarea {
    padding: 10px;
    resize: vertical;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #F15B43;
}
/*imagem*/
.area-upload {
    width: 100%;
    max-width: 400px;
    height: 200px;
    border: 2px dashed #F15B43;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin: 20px auto;
    cursor: pointer;
}

.upload-text {
    font-size: 16px;
    color: #F15B43;
    font-weight: bold;
    pointer-events: none;
}

input[type="file"] {
    display: none; 
}

.area-upload:hover {
    background-color: #e8f5e9;
    border-color: #ff9807;
}
/* Feedback de imagem carregada */
.feedback {
    text-align: center;
    margin-top: 10px;
}

/* Imagem de pré-visualização */
.preview-img {
    max-width: 100%;
    max-height: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 2px solid #F15B43;
}

/* Mensagem de sucesso */
.success-message {
    color: #F15B43;
    font-size: 14px;
    font-weight: bold;
}
/* Botão de remover */
.btn-remover {
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.btn-remover:hover {
    background-color: #F15B43;
}

.btn-remover:active {
    transform: scale(0.95);
}
.voltar{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ecedd53d;
    color: black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.329);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.voltar:hover{
    transform: scale(1.005); 
}
/*botao criar*/
button.botao {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #F15B43;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button.botao:hover {
    background-color: #ff9807;
}
footer{
    height: 220px;
    font-family: 'Inter',sans-serif;
    letter-spacing: 1px;
    width: 100%;
    color: var(--cor-neutra-branca);
}
/*container*/
#footer_container{
    background-color: var(--cor-preta);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}
/*palavra logo*/
#footer_contatos h4{
    margin-bottom: 0.75rem;
}
/*container dos icones*/
#midias_sociais{
    display: flex;
    gap: 2rem;
}
/*links e icones*/
#midias_sociais .link_midias{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--cor-neutra-branca);
    border-radius: 50%;
    transition: all 0.4s;
}
/*configuração do link*/
#midias_sociais .link_midias{
    text-decoration: none;
}
#midias_sociais .link_midias:hover{
    opacity: 0.8;
}
/*tamanho do icone*/
#midias_sociais .link_midias i{
    font-size: 1.25rem;
}
/*icone em individual*/
#instagram{
    background: linear-gradient(#7f37c9, #Ff2992, #ff9807); 
}
#facebook{
    background-color: #4267b3;
}
#linkedin {
    background-color: #0A66C2; 
}

#email {
    background-color: #5f6368; 
}
/*listas*/
.footer_lista{ /*para adiconar gap */
    display: flex;
    flex-direction: column;
    list-style: none;
}
/*links da parte de listas*/
.footer_lista .link_midias{
    text-decoration: none;
    color:var(--cor-ciza) ;
    transition: all 0.4s;
}
.footer_lista .link_midias:hover{
    color: #F15B43;
}
.link_midias:hover{
    transform: scale(1.1) translateY(-3px); 
    opacity: 0.9; 
}
/*copyright*/
#copyright{
    display: flex;
    justify-content: center;
    background-color:var(--cor-copyright);
    padding: 1.2rem;
}
@media screen and (max-width: 420px) {
    .container_login {
        
    }
    .container_interno_login{
        padding: 20px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.342);
    }
    #menu_normal {
        display: none;
    }
    #menu_hamburguer {
        margin-top: 20px;
        display: block;
        cursor: pointer;
    }
    /*  quando ativado */
    .menu-aberto #menu_normal {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Links do menu no modo hambúrguer */
    .menu-aberto #menu_normal a {
    padding: 10px;
    border-top: 1px solid #f0f0f0;
    }
    .botao_header{
    margin-bottom: 25px;
    }
}   /*Media query*/
    @media screen and (min-width:420px) and (max-width:767px){
        #menu_normal {
            display: none;
        }
        #menu_hamburguer {
            margin-top: 20px;
            display: block;
            cursor: pointer;
        }
        /* Estilos para o menu hambúrguer quando ativado */
        .menu-aberto #menu_normal {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 70px;
            right: 0;
            background-color: #fff;
            width: 100%;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }

        /* Links do menu no modo hambúrguer */
        .menu-aberto #menu_normal a {
        padding: 10px;
        border-top: 1px solid #f0f0f0;
        }
        .botao_header{
        margin-bottom: 25px;
        }
        .fa-solid {
            font-size: 30px;
        }
    }
    @media screen and (min-width:768px) and (max-width:1024px) {
        #menu_hamburguer{
            display: none;
        }
        nav a{
            font-size: 0.9em;
        }
        .fa-solid {
            font-size: 35px;
        }
    }
    @media screen and (min-width:1025px) and (max-width:1440px) {
        #menu_hamburguer{
            display: none;
        }
        nav a{
            font-size: 1.0em;
        }
        .fa-solid {
            font-size: 35px;
        }
    }
    @media screen and (min-width:1441px) {
        /*menu hamburguer*/
        #menu_hamburguer{
            display: none;
        }
        nav a{
            font-size: 1.1em;
        }
        .fa-solid {
            font-size: 40px;
        }
    }



/*media query só pra footer*/
@media screen and (max-width:968px){
    #footer_container{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media screen and (max-width:626px){
    #footer_container{
        grid-template-columns: repeat(1,1fr);
        
    }
}


