@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
        :root{
                --cor-neutra-branca:#f5f5f5;
                --cor-preta:#171717;
                --cor-copyright:#0e0c0c;
                --cor-ciza:#a8a29e;
            }
        *{
            margin: 0px;
            padding: 0px;
        }
        /*container principal*/
        header{
            background-image: url(img/header.png);
            height: 430px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between; 
        }
        /*Container interno*/
        nav{
            margin-top: 15px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        nav a{
            font-size: 0.6em;
            padding: 7px;
            color: rgb(102, 102, 102);
            text-decoration: none;
            transition: all 0.5s;
        }
        #iconenav{
            font-size: 15px;
        }
        /*efeito ao passar mouse em menu*/
        a:hover{
            color: #F15B43;
        
        }
        /*Menu dropdown*/
        /* Estilo específico para o dropdown *//*container*/
        .dropdown {
            position: relative; 
            display: inline-block; 
        }
        /* Esconde o submenu por padrão */
        .dropdown-menu {
            display: none;
            position: absolute;
            background-color: white;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1; 
        }

        /* Itens do submenu */
        .dropdown-menu li {
            list-style-type: none;
            margin: 0; 
        }

        .dropdown-menu li a {
            text-decoration: none;
            display: block;
            color: rgb(102, 102, 102); 
            font-size: 0.7em; 
        }

        /* Exibe o submenu ao passar o mouse */
        .dropdown:hover .dropdown-menu {
            display: block;
        }

        /* Efeito de hover no submenu */
        .dropdown-menu li a:hover {
            background-color: rgb(240, 240, 240); 
        }
        /*Icone ao lado do menu de causas*/
        .material-icons {
            font-size: 14px; 
            vertical-align: middle; 
            margin-left: 5px; 
        }
        body{
            height: 100vh;
            
        }
        .img_login img{
            border-radius: 15px;
            display: none;
        }
        /*container que envelopa a foto e o login*/
        .container_login{
            display: flex;
            justify-content:center;
            align-items: center;
            flex-wrap: wrap;
            height: 100vh;
        }
        /*container de todo a parte de campos e botoes*/
        .container_interno_login{
            background-color: #edecec;
            padding: 10px;
            width: 300px;
            height: 420px;
            padding: 20px;
            border-radius: 20px;
            /**/
        }
        /*campo email*/
        .campo_email label{
            display: block;
        }
        .campo_email input{
            margin-top: 5px;
            margin-bottom: 15px;
            background: #ecedd594;
            border-radius: 6px;
            padding: 10px;
            height: 30px;
            border: none;
            width: 95%;
            box-shadow: 0px 10px 30px #0000002f;
        }
        /*campo senha*/
        .campo_senha label{
            display: block;
        }
        .campo_senha input{
            margin-top: 5px;
            background: #ecedd594;
            border-radius: 6px;
            padding: 10px;
            height: 30px;
            border: none;
            width: 95%;
            box-shadow: 0px 10px 30px #0000002f;
        }
        /*botao login*/
        .botao_login{
            display: block;
            margin-top: 35px;
            width: 100%;
            text-align: center;
            background: linear-gradient(to right, #F15B43, #FE8F20);
            border: none;
            padding: 15px;
            border-radius: 10px;
            text-decoration: none;
            color: white;
        }
        /*botao login*/
        .botao_login:hover{
            transform: scale(1.005); 
            background: linear-gradient(to right, #FE8F20, #F15B43); 
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
        }
        /*redes*/
        .redes{
            margin-top: 35px;
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
            gap: 30px;
            font-size: 30px;
        }
        .esq_senha {
            text-decoration: none;
        }
        .esq_senha:hover{
            text-decoration: underline;
        }
        .redes a i {
        background: linear-gradient(to right, #F15B43, #FE8F20); 
        -webkit-background-clip: text; 
        background-clip: text;
        color: transparent; 
    }

    /*Inicio do footer*/
    footer{
        
        height: 220px;
        font-family: 'Inter',sans-serif;
        letter-spacing: 1px;
        width: 100%;
        color: var(--cor-neutra-branca);
    }
    /*container*/
    #footer_container{
        background-color: var(--cor-preta);
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 3rem 3.5rem;
    }
    /*palavra logo*/
    #footer_contatos h4{
        margin-bottom: 0.75rem;
    }
    /*container dos icones*/
    #midias_sociais{
        display: flex;
        gap: 2rem;
    }
    /*links e icones*/
    #midias_sociais .link_midias{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        color: var(--cor-neutra-branca);
        border-radius: 50%;
        transition: all 0.4s;
    }
    /*configuração do link*/
    #midias_sociais .link_midias{
        text-decoration: none;
    }
    #midias_sociais .link_midias:hover{
        opacity: 0.8;
    }
    /*tamanho do icone*/
    #midias_sociais .link_midias i{
        font-size: 1.25rem;
    }
    /*icone em individual*/
    #instagram{
        background: linear-gradient(#7f37c9, #Ff2992, #ff9807); 
    }
    #facebook{
        background-color: #4267b3;
    }
    #linkedin {
        background-color: #0A66C2; 
    }

    #email {
        background-color: #5f6368; 
    }
    /*listas*/
    .footer_lista{ /*para adiconar gap */
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    /*links da parte de listas*/
    .footer_lista .link_midias{
        text-decoration: none;
        color:var(--cor-ciza) ;
        transition: all 0.4s;
    }
    .footer_lista .link_midias:hover{
        color: #F15B43;
    }
    /*copyright*/
    #copyright{
        display: flex;
        justify-content: center;
        background-color:var(--cor-copyright);
        padding: 1.2rem;
    }
    /*Só para adicionar a cor em tela de celular*/
     /* Cor de fundo específica para telas de celular */
     @media screen and (max-width: 420px) {
        .container_login {
            background-color: #fe8f20d7;
        }
    }
        /*Telas celulares maiores*/
        @media screen and (min-width:420px) and (max-width:767px){
            /*container de todo a parte de campos e botoes*/
            .container_interno_login{
                width: 350px;
                height: 420px;
                padding: 20px;
            }
            .img_login img{
               display: none;
            }
            .container_login {
            background-color: #fe8f20d7;
        }
        }
        @media screen and (min-width:768px) and (max-width:1024px) {
            /*botao login*/
        .botao_login{
            font-size: 1.1em;
        }
            /*container de todo a parte de campos e botoes*/
            .container_interno_login{
                width: 400px;
                height: 450px;
                padding: 20px;
        }
        .img_login img{
            display: block;
            width: 330px;
            height: 490px;
        }
        }
        @media screen and (min-width:1025px) and (max-width:1440px) {
            /*botao login*/
        .botao_login{
            font-size: 1.2em;
        }
            /*container de todo a parte de campos e botoes*/
            .container_interno_login{
                width: 400px;
                height: 450px;
                padding: 30px;
        }
        .img_login img{
            display: block;
            width: 450px;
            height: 510px;
        }
        }
        @media screen and (min-width:1441px) {
            /*botao login*/
        .botao_login{
            font-size: 1.2em;
        }
            /*container de todo a parte de campos e botoes*/
            .container_interno_login{
                width: 400px;
                height: 500px;
                padding: 30px;
        }
        .img_login img{
            display: block;
            width: 500px;
            height: 560px;
        }
        i{
            font-size: 35px;
        }
        }
        /*media query só pra footer*/
        @media screen and (max-width:968px){
            #footer_container{
                grid-template-columns: repeat(2,1fr);
                gap: 2rem;
            }
        }
        @media screen and (max-width:626px){
            #footer_container{
                grid-template-columns: repeat(1,1fr);
                
            }
        }