/*
Breakpoints Atualizados seguindo a w3c

Tablets:
Breakpoint: min-width: 768px e max-width: 1024px

Laptops e Desktops:
Breakpoint: min-width: 1025px e max-width: 1440px

Desktops Grandes (4K e telas maiores):
Breakpoint: min-width: 1441px
*/

/*criado para tela de celular em especifico , caso tenha alguma configuração que n faça no geral*/
@media screen and (min-width:200px) and (max-width:420px){
    /* Para telas menores */
    #menu_normal {
        display: none;
    }
    #menu_hamburguer {
        margin-top: 20px;
        display: block;
    }
    /* Estilos para o menu hambúrguer quando ativado */
    .menu-aberto #menu_normal {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

/* Links do menu no modo hambúrguer */
.menu-aberto #menu_normal a {
    padding: 10px;
    border-top: 1px solid #f0f0f0;
}
.botao_header{
    margin-bottom: 25px;
}
main{
    height: 4000px;
}
}
/*Telas celulares maiores*/
@media screen and (min-width:420px) and (max-width:767px){

/* Para telas menores */
#menu_normal {
    display: none;
}
#menu_hamburguer {
    margin-top: 20px;
    display: block;
}
/* Estilos para o menu hambúrguer quando ativado */
.menu-aberto #menu_normal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Links do menu no modo hambúrguer */
.menu-aberto #menu_normal a {
padding: 10px;
border-top: 1px solid #f0f0f0;
}
.botao_header{
margin-bottom: 25px;
}

main{
    margin-top: 60px;
    height: 4000px;
}
}
/*Telas de Tablet: entre 768px e 1024px*/
@media screen and (min-width:768px) and (max-width:1024px){
    main{
        margin-top: 100px;
        height: 2200px;
    }
nav a{
    font-size: 0.9em;
}


}
/*Telas de desktop ou laptop: entre 1025px e 1440*/
@media screen and (min-width:1025px) and (max-width:1440px){
main{
    margin-top: 100px;
    height: 1700px;
}
nav a{
    font-size: 1.0em;
}


}
/*Telas grandes : acima de 1441px*/
@media screen and (min-width:1441px) {
main{
    margin-top: 100px;
    height: 1200px;
}
nav a{
    font-size: 1.1em;
}

}




/*media query só pra footer*/
@media screen and (max-width:968px){
    #footer_container{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media screen and (max-width:626px){
    #footer_container{
        grid-template-columns: repeat(1,1fr);
        
    }
}