/*media query só pra footer*/
@media screen and (max-width:968px){
    #footer_container{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media screen and (max-width:626px){
    #footer_container{
        grid-template-columns: repeat(1,1fr);
        
    }
}