@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
}
/*container principal*/
section.container_lista_causas{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
/*container em volta do texto e foto*/
div.container_item{
    margin-left: 30px;
}
/*img*/
div img{
    width: 400px;
    height: 350px;
    border-radius: 5px;
    
}