@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    
}
body{
    height: 100vh;
    background-color: #E0E0E0;
    
}
/*container principal*/
section.container_lista_causas{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*container em volta do texto e foto*/
div.container_item{
    margin-left: 30px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    
}
div.container_item h2{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F15B43;
    
}
div.container_item p{
    color: gray;
    line-height: 1.3em;
}
/*div de texto so para adcionar padding sem alterar foto junto*/
div.texto_container{
    padding: 10px;
}
/*img*/
div img{
    width: 420px;
    height: 350px;
    
    
}
/* Estilos para a barra de progresso */
/*div da barra*/
.progresso-barra {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 15px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
/*barra em si*/
.progresso {
    height: 100%;
    background-color: #F15B43;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    
}
/*apenas texto da barra*/
.progresso-texto {
    position: absolute;
    width: 100%;
    text-align: center;
}
/* Estilos para os valores de arrecadado e meta */
.valores {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.valores span{
    color: gray;
}
.botao {
    margin-top: 20px;
    background-color: #F15B43; 
    width: 150px; 
    padding: 10px 0; 
    text-align: center; 
    border-radius: 25px; 
    cursor: pointer; 
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
}

.botao span {
    display: block; /* Faz com que o span se comporte como bloco, ocupando toda a largura */
}
