@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
}
/*container principal*/
section.container_lista_causas{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*container em volta do texto e foto*/
div.container_item{
    margin-left: 30px;
    margin-bottom: 50px;
}
div.container_item h2{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F15B43;
    
}
/*img*/
div img{
    width: 400px;
    height: 350px;
    border-radius: 5px;
    
}
/* Estilos para a barra de progresso */
/*div da barra*/
.progresso-barra {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 20px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
/*barra em si*/
.progresso {
    height: 100%;
    background-color: #F15B43;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    
}
/*apenas texto da barra*/
.progresso-texto {
    position: absolute;
    width: 100%;
    text-align: center;
}
/* Estilos para os valores de arrecadado e meta */
.valores {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}