@charset "UTF-8";
/*Inicio do cabeçalho*/
footer{
    margin-top: 200px;
    height: 500px;
    background-color: #212121;
}
.container_footer{
    display: flex;
    justify-content: space-around;
    color: #FE8F20;
}
.container_footer>div{
    margin-top: 20px;
}
.navegacao{

}
.servicos{

}
.nossas_causas{

}
.contato{

}