@charset "UTF-8";
/*Formulário de doação*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/*pra centralizar meu item*/
.container_principal_doacao{
    width: 100vw;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*container form*/
.container_doacao{
    display: flex;
    width: 80%;
    height: 800px;
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
}
.img_doacao{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
}
.img_doacao img{
    width: 31rem;
}
.formulario{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.doacao_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.doacao_header h2::after{
    content: ' ';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #F15B43;
    margin: 0.5rem 0;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 100px;
    
}
.grupo_input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.input_campo{
    display: flex;
    flex-direction: column;
}
