@charset "UTF-8";
/*Formulário de doação*/
#form_container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 100vw;
}
.formulario{
    display: flex;
    justify-content: center;
    background-color: blue;
    width: 50%;
}