@charset "UTF-8";
/*mobile first*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
html,body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

main{

}


