@charset "UTF-8";
/*mobile first*/
/*Celulares pequenos*/
*{
    margin: 0px;
    padding: 0px;
    
}
html,body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}
/*container principal*/
header{
    background-image: url(../img/header.png);
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; 
}
/*Container interno*/
nav{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}
a{
    font-size: 0.5em;
    font-weight: bold;
    padding: 5px;
    color: rgb(102, 102, 102);
    text-decoration: none;
}
/*efeito ao passar mouse em menu*/
a:hover{
    color: #F15B43;
}
/*Menu dropdown*/
/* Estilo específico para o dropdown *//*container*/
.dropdown {
    position: relative; 
    display: inline-block; 
}
/* Esconde o submenu por padrão */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 65px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1; 
}

/* Itens do submenu */
.dropdown-menu li {
    list-style-type: none;
    margin: 0; 
}

.dropdown-menu li a {
    padding: 5px;
    text-decoration: none;
    display: block;
    color: rgb(102, 102, 102); 
    font-size: 0.7em; 
}

/* Exibe o submenu ao passar o mouse */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Efeito de hover no submenu */
.dropdown-menu li a:hover {
    background-color: rgb(240, 240, 240); 
}
/*Icone ao lado do menu de causas*/
.material-icons {
    font-size: 14px; 
    vertical-align: middle; 
    margin-left: 5px; 
}
div h1{
    margin-left: 30px;
}
h1{
    font-size: 2.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*Para mudar a cor da palavra "Juntos"*/
span.h1_cor{
    color: #F15B43;
}
#p_header{
    margin-bottom: 130px;
    margin-left: 30px;
    width: 70vw;
    color: rgb(110, 110, 110);
}

main{
    
}


div#container_box{
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}
/*Configuração geral das caixas*/
.box{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
    width: 100%;
    height: 185px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}
.box{
    color: white;
}
/* Imagens de fundo das caixas  e seu tamanho */
.box1 {
    background: linear-gradient(rgba(32, 177, 153, 0.8), rgba(32, 177, 153, 0.8)), url('../img/edu.jpg');
    background-size: cover;
    background-position: center;
}

.box2 {
    background: linear-gradient(rgba(235, 189, 42, 0.8), rgba(235, 189, 42, 0.8)), url('../img/saude (2).jpg');
    background-size: cover;
    background-position: center;
}

.box3 {
    background: linear-gradient(rgba(255, 99, 71, 0.8), rgba(255, 99, 71, 0.8)), url('../img/comida.jpg');
    background-size: cover;
    background-position: bottom;
}
/*Link que levará ao formulário*/
div .a_doeagora{
    color: white;
}
/*tamanho do texto das caixas*/
div.box p{
    font-size: 1.4em;
    font-weight: bold;
}
span#comida{
    font-size: 44px;
}
span#saude{
    font-size: 44px;
}
span#educacao{
    font-size: 44px;
}
/*container principal que separa img e texto*/
div#container_sobre_nos {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*div menu do sobre nos*/
div#menu_sobre_nos {
    margin-top: 20px;
}

/*configuração só pra os links*/
div#menu_sobre_nos a {
    font-weight: bold;
    padding: 15px; 
    width: 15vw;
    color: rgba(128, 128, 128, 0.815);
    border-radius: 3px;
    border-bottom: 3px solid #F15B43;
    text-decoration: none;
    display: inline-block; /* Melhora a área clicável */
}
/*link ao passar mouse*/
div#menu_sobre_nos a:hover{
    background-color: #f15a43b7;
    color: white;
}
/* Estilo para o link ativo */
div#menu_sobre_nos a.active {
    background-color: #F15B43; 
    color: #fff; 
}
div#sobre_nos{
    padding-left: 10px;
}
div#sobre_nos h2{
    color: #F15B43;
    font-size: 2em;
}
div#sobre_nos p{
    font-size: 0.8em;
    width: 80vw;
    color: rgba(128, 128, 128, 0.774);
}
/*imagem da parte sobre nós*/
img#kids2{
    margin-top: 30px;
    width: 65vw;
    height: 200px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.459);
}
/*Botão quem somos nós*/
#quem_somos {
    width: 130px;
    border-radius: 10px;
    padding: 8px;
    color: #ebb503;
    background-color: #dbc90015;
    font-size: 0.9em;
}
#quem_somos:hover{
    cursor: pointer;
}
/*texto do sobre nós*/
div#titulo_texto_sobre h3{
    margin-top: 20px;
    color: #F15B43;
}
div#texto_sobre_nos p{
    margin-top: 20px;
    width: 75vw;
    font-size: 1.0em;
    color: rgba(128, 128, 128, 0.774);
}
/*dados da plataforma*/
.dados_container{
    margin-top: 250px;
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
    
}
/*div dados texto*/
.dados_texto h2{
    color: #F15B43;
}
.dados_texto p{
    width: 400px;
}
/*cada h3 em div dados caixas*/
.dados_caixas h3{
    color: #F15B43;
}
/*Inicio do cabeçalho*/
footer{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #212121;
}
footer div{
    margin: 10px;
    font-size: 0.6em;
}
footer a {
    color: #FE8F20;
}
footer p{
    color:white ;
    line-height: 1.5em;
}
.item_footer{
    flex-basis: 150px;
}


@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
}