/*
Breakpoints Atualizados seguindo a w3c

Tablets:
Breakpoint: min-width: 768px e max-width: 1024px

Laptops e Desktops:
Breakpoint: min-width: 1025px e max-width: 1440px

Desktops Grandes (4K e telas maiores):
Breakpoint: min-width: 1441px
*/
/*Telas de Tablet: entre 768px e 1024px*/
@media screen and (min-width:768px) and (max-width:1024px){

    div#container_box{
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }
    .box {
        width: calc(33.33%);
        height: 250px; 
        transition: transform 0.3s ease;
    }
    .box:hover {
        transform: scale(1.05); /* Aumenta a escala quando passar o mouse */
    }

}
/*Telas de desktop ou laptop: entre 1025px e 1440*/
@media screen and (min-width:1025px) and (max-width:1440px){
    div#container_box{
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }
    .box {
        width: calc(33.33%);
        height: 250px; 
        transition: transform 0.3s ease;
    }
    .box:hover {
        transform: scale(1.05); /* Aumenta a escala quando passar o mouse */
    }

}
/*Telas grandes : acima de 1441px*/
@media screen and (min-width:1441px) {
    div#container_box{
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }
    .box {
        width: calc(33.33%);
        height: 300px; 
        transition: transform 0.3s ease;
    }
    .box:hover {
        transform: scale(1.05); /* Aumenta a escala quando passar o mouse */
    }
}

