/*
Breakpoints Atualizados seguindo a w3c

Tablets:
Breakpoint: min-width: 768px e max-width: 1024px

Laptops e Desktops:
Breakpoint: min-width: 1025px e max-width: 1440px

Desktops Grandes (4K e telas maiores):
Breakpoint: min-width: 1441px
*/
/*criado para tela de celular em especifico , caso tenha alguma configuração que n faça no geral*/
@media screen and (min-width:200px) and (max-width:420px){
    /*dados da plataforma*/
    .dados_container{
        flex-direction: column;
        align-items: center;
        
    }
    .dados_caixas{
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 0;
    }
    .dados{
        width: 100%;
        margin-bottom: 20px;
        margin: 0;
    }
    /*configuração só pra os links*/
    div#menu_sobre_nos a {
        width: 25vw;
    }
}
/*Telas celulares maiores*/
@media screen and (min-width:420px) and (max-width:767px){
    a{
        font-size: 0.8em;
        font-weight: normal;
    }
    .dropdown {
        position: relative; /* Necessário para posicionar o submenu */
        display: inline-block; /* Pra menu ficar ao lado dos links*/
        margin-top: 2px;
    }
    h1{
        font-size: 3.1em;
    }
    div h1{
        margin-left: 40px;/*espaçamento lateral esquerdo*/
    }
    #p_header{ /*espaçamento na parte de baixo e lateral do p*/
        margin-bottom: 120px;
        margin-left: 40px;
    }
    .box{
        height: 260px;
    }
    /*tamanho do texto das caixas*/
    div.box p{
        font-size: 1.9em;
        font-weight: bold;
    }
    span#comida{
        font-size: 45px;
    }
    span#saude{
        font-size: 45px;
    }
    span#educacao{
        font-size: 45px;
    }
        /*sobre nós*/
    /*container principal que separa img e texto*/
    div#container_sobre_nos {
        flex-wrap: wrap;
    }
    div#sobre_nos {
        padding-left: 20px;
    }
    div#sobre_nos h2{
        font-size: 2.9em;
    }
    div#sobre_nos p{
        font-size: 1.2em;
        width: 80vw;
    }
    img#kids2{
        margin-top: 30px;
        width: 65vw;
        height: 280px;
        border-radius: 5px;
    }
    /*texto do sobre nós*/
    div#texto_sobre_nos p{
        width: 70vw;
        font-size: 1.4em;
    }
    /*texto do sobre nós*/
    div#titulo_texto_sobre h3{
        color: #F15B43;
        font-size: 1.6em;
    }
    /*dados da plataforma*/
    .dados_container{
        flex-direction: column;
        align-items: center;
    }
    .dados_caixas{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .dados{
        width: 100%;
        margin-bottom: 20px;
    }
    .dados_caixas h3{
        font-size: 1.7em;
    }
    /* Estilo para os ícones na parte de dados */
    .dados i,
    .dados .material-symbols-outlined {
        font-size: 35px; 
    }
    /*cabeçalho*/
    footer{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        background-color: #212121;
    }
    footer div{
        font-size: 0.7em;
    }
    .item_footer{
        flex-basis: 200px;
    }
    
}
/*Telas de Tablet: entre 768px e 1024px*/
@media screen and (min-width:768px) and (max-width:1024px){
    a{
        font-size: 0.8em;
        padding: 7px;
        font-weight: normal;
    }
    .dropdown {
        position: relative; /* Necessário para posicionar o submenu */
        display: inline-block; /* Pra menu ficar ao lado dos links*/
        margin-top: 2px;
    }
    h1{
        font-size: 3.3em;
    }
    div h1{
        margin-left: 70px; /*espaçamento lateral esquerdo*/
    }
    #p_header{ /*espaçamento na parte de baixo e lateral do p*/
        margin-bottom: 185px;
        margin-left: 70px;
    }
    div#container_box{
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }
    .box {
        width: calc(33.33%);
        height: 305px; 
        transition: transform 0.3s ease;
    }
    .box:hover {
        transform: scale(1.05); /* Aumenta a escala quando passar o mouse */
    }
    /*tamanho do texto das caixas*/
    div.box p{
        font-size: 1.7em;
        font-weight: bold;
    }
    span#comida{
        font-size: 50px;
    }
    span#saude{
        font-size: 50px;
    }
    span#educacao{
        font-size: 50px;
    }
    /*sobre nós*/
    /*container principal que separa img e texto*/
    /*sobre nós*/
    div#container_sobre_nos {
        margin-top: 180px;
    }
    div#menu_sobre_nos a {
        width: 10vw;
    }
    div#container_sobre_nos {
        flex-wrap: nowrap;
    }
    div#sobre_nos h2{
        font-size: 2.9em;
    }
    div#sobre_nos p{
        font-size: 1.2em;
        width: 50vw;
    }
    img#kids2{
        width: 40vw;
        height: 360px;
        border-radius: 5px;
    }
    /*texto do sobre nós*/
    div#texto_sobre_nos p{
        width: 45vw;
        font-size: 1.3em;
    }
    /*texto do sobre nós*/
    div#titulo_texto_sobre h3{
        color: #F15B43;
        font-size: 1.8em;
    }
    /*dados da plataforma*/
    .dados_container{
        flex-direction: column;
        align-items: center;
    }
    .dados_caixas{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .dados{
        width: 100%;
        margin-bottom: 20px;
    }
    .dados_caixas h3{
        font-size: 1.9em;
    }
    /* Estilo para os ícones na parte de dados */
    .dados i,
    .dados .material-symbols-outlined {
        font-size: 40px; 
    }
    /*cabeçalho*/
    footer{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        background-color: #212121;
        
    }
    footer div{
        font-size: 0.7em;
    }
    .item_footer{
        flex-basis: 400px;
    }
}
/*Telas de desktop ou laptop: entre 1025px e 1440*/
@media screen and (min-width:1025px) and (max-width:1440px){
    header{
        height: 520px;
    }
    a{
        font-size: 0.9em;
        padding: 10px;
        font-weight: normal;
    }
    .dropdown {
        position: relative; /* Necessário para posicionar o submenu */
        display: inline-block; /* Pra menu ficar ao lado dos links*/
        margin-top: 8px;
    }
    h1{
        font-size: 3.9em;
    }
    div h1{
        margin-left: 100px;
    }
    #p_header{
        margin-bottom: 185px;
        margin-left: 100px;
    }
    div#container_box{
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }
    .box {
        width: calc(33.33%);
        height: 315px; 
        transition: transform 0.3s ease;
    }
    .box:hover {
        transform: scale(1.05); /* Aumenta a escala quando passar o mouse */
    }
    /*tamanho do texto das caixas*/
    div.box p{
        font-size: 1.9em;
        font-weight: bold;
    }
    a.a_doeagora{
        font-size: 1.2em;
    }
    span#comida{
        font-size: 50px;
    }
    span#saude{
        font-size: 50px;
    }
    span#educacao{
        font-size: 50px;
    }
    /*sobre nós*/
    div#container_sobre_nos {
        margin-top: 180px;
    }
    div#menu_sobre_nos a {
        width: 9vw;
    }
    div#sobre_nos h2{
        font-size: 3.2em;
    }
    div#sobre_nos p{
        font-size: 1.1em;
        width: 40vw;
    }
    img#kids2{
        width: 450px;
        height: 350px;
        border-radius: 5px;
    }
    
    /*texto do sobre nós*/
    div#titulo_texto_sobre h3{
        color: #F15B43;
        font-size: 2em;
    }
    /*dados da plataforma*/
    div.dados_texto h2{
        font-size: 2.5em;
    }
    /*container de dados*/
    .dados_caixas{
        gap: 50px;
    }
    .dados_caixas h3{
        font-size: 2.0em;
    }
    /* Estilo para os ícones na parte de dados */
    .dados i,
    .dados .material-symbols-outlined {
        font-size: 30px; 
    }
    /*cabeçalho*/
    footer{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        background-color: #212121;
    }
    footer div{
        font-size: 0.8em;
    }
}
/*Telas grandes : acima de 1441px*/
@media screen and (min-width:1441px) {
    header{
        height: 650px;
    }
    nav{
        margin-top: 15px;
    }
    a{
        font-size: 1em;
        padding: 10px;
        font-weight: normal;
    }
    .dropdown {
        position: relative; /* Necessário para posicionar o submenu */
        display: inline-block; /* Pra menu ficar ao lado dos links*/
        margin-top: 8px;
    }
    
    h1{
        font-size: 4.1em;
    }
    div h1{
        margin-left: 125px;
    }
    #p_header{
        margin-bottom: 235px;
        margin-left: 125px;
        font-size: 1.2em;
    }
    div#container_box{
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }
    .box {
        width: calc(33.33%);
        height: 390px; 
        transition: transform 0.3s ease;
        padding-bottom: 40px;
    }
    .box:hover {
        transform: scale(1.05); /* Aumenta a escala quando passar o mouse */
    }
    /*tamanho do texto das caixas*/
    div.box p{
        font-size: 2.4em;
        font-weight: bold;
    }
    a.a_doeagora{
        font-size: 1.3em;
    }
    span#comida{
        font-size: 64px;
    }
    span#saude{
        font-size: 64px;
    }
    span#educacao{
        font-size: 64px;
    }
    /*sobre nós*/
    div#menu_sobre_nos a {
        width: 110px;
    }
    div#sobre_nos h2{
        font-size: 3.5em;
    }
    div#sobre_nos p{
        font-size: 1.1em;
        width: 30vw;
    }
    img#kids2{
        width: 540px;
        height: 460px;
        border-radius: 5px;
    }
    /*texto do sobre nós*/
    div#titulo_texto_sobre h3{
        color: #F15B43;
        font-size: 2em;
    }
    div#texto_sobre_nos p{
        width: 550px;
        font-size: 1.5em;
        color: rgba(128, 128, 128, 0.774);
    }
    /*dados da plataforma*/
    div.dados_texto h2{
        font-size: 2.7em;
    }
    .dados_texto p{
        
    }
    .dados_caixas h3{
        font-size: 2.3em;
    }
    /*container de dados*/
    .dados_caixas{
        gap: 70px;
    }
    /* Estilo para os ícones na parte de dados */
    .dados i,
    .dados .material-symbols-outlined {
        font-size: 40px; 
        
    }
    /*cabeçalho*/
    footer{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        background-color: #212121;
    }
    footer div{
        font-size: 1em;
    }
}

