@charset "UTF-8";
.diferenciais_container{
    font-family: inter;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.diferencial{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.719);
}
.h2_diferencial{
    font-size: 1.8em;
    margin-top: 25vh;
    margin-bottom: 80px;
}
.diferencial p {
    font-size: 1rem; 
    max-width: 300px; 
    text-align: center; 
}
/*titulo do diferenicial q esta na div*/
.titulo_diferencial{
    font-size: 1.0em;
    font-weight:bold;
}
.fa-solid {
    font-size: 25px;
    
}
.fa-regular{
    font-size: 25px;
}