@charset "UTF-8";
.diferenciais_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.diferencial{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2_diferencial{
    font-size: 1.8em;
}
.diferencial p {
    font-size: 1rem; 
    max-width: 300px; 
    text-align: center; 
}