/*
Breakpoints Atualizados seguindo a w3c

Tablets:
Breakpoint: min-width: 768px e max-width: 1024px

Laptops e Desktops:
Breakpoint: min-width: 1025px e max-width: 1440px

Desktops Grandes (4K e telas maiores):
Breakpoint: min-width: 1441px
*/
/*criado para tela de celular em especifico , caso tenha alguma configuração que n faça no geral*/
@media screen and (min-width:200px) and (max-width:420px){
        /* Para telas menores */
        #menu_normal {
            display: none;
        }
        #menu_hamburguer {
            margin-top: 20px;
            display: block;
        }
        /* Estilos para o menu hambúrguer quando ativado */
        .menu-aberto #menu_normal {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 70px;
            right: 0;
            background-color: #fff;
            width: 100%;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
    
    /* Links do menu no modo hambúrguer */
    .menu-aberto #menu_normal a {
        padding: 10px;
        border-top: 1px solid #f0f0f0;
    }
    .botao_header{
        margin-bottom: 25px;
    }
    /*dados da plataforma*/
    .dados_container{
        flex-direction: column;
        align-items: center;
        
    }
    .dados_caixas{
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 0;
    }
    .dados{
        width: 100%;
        margin-bottom: 20px;
        margin: 0;
    }
    /*configuração só pra os links*/
    div#menu_sobre_nos a {
        width: 25vw;
    }
    /*dados da plataforma*/
    div.dados_texto h2{
        font-size: 2.0em;
        margin-left: 20px;
    }
    div.dados_texto p{
        font-size: 0.9em;
        width: 80vw;
        margin-left: 20px;
    }
}
/*Telas celulares maiores*/
@media screen and (min-width:420px) and (max-width:767px){
    h1{
        font-size: 3.1em;
    }
    /* Para telas menores */
    #menu_normal {
        display: none;
    }
    #menu_hamburguer {
        margin-top: 20px;
        display: block;
    }
    /* Estilos para o menu hambúrguer quando ativado */
    .menu-aberto #menu_normal {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

/* Links do menu no modo hambúrguer */
.menu-aberto #menu_normal a {
    padding: 10px;
    border-top: 1px solid #f0f0f0;
}
.botao_header{
    margin-bottom: 25px;
}
    div h1{
        margin-left: 40px;/*espaçamento lateral esquerdo*/
    }
    #p_header{ /*espaçamento na parte de baixo e lateral do p*/
        margin-left: 40px;
    }
    .box{
        height: 260px;
    }
    .campanhas_destaque h2{
        font-size: 1.6em;
    }
    /*linha laranja*/
    .campanhas_destaque h2::after{
        content: ' ';
        display: block;
        width: 8.5rem;
        height: 0.3rem;
        background-color: #F15B43;
        margin-bottom: 20px;
    }
    #mao{
        font-size: 2.4em;
    }
    /*tamanho do texto das caixas*/
    div.box p{
        font-size: 1.9em;
        font-weight: bold;
    }
    span#comida{
        font-size: 45px;
    }
    span#saude{
        font-size: 45px;
    }
    span#educacao{
        font-size: 45px;
    }
        /*sobre nós*/
    /*container principal que separa img e texto*/
    div#container_sobre_nos {
        flex-wrap: wrap;
    }
    div#sobre_nos {
        padding-left: 20px;
    }
    div#sobre_nos h2{
        font-size: 2.9em;
    }
    div#sobre_nos p{
        font-size: 1.2em;
        width: 80vw;
    }
    img#kids2{
        margin-top: 150px;
        width: 65vw;
        height: 280px;
        border-radius: 5px;
    }
    /*texto do sobre nós*/
    div#texto_sobre_nos p{
        width: 70vw;
        font-size: 1.4em;
    }
    /*texto do sobre nós*/
    div#titulo_texto_sobre h3{
        color: #F15B43;
        font-size: 1.6em;
    }
    /*Foto com frase motivacional*/
    section.frase_motivacional{
        height: 350px;
    }
    /*frase_motivacional*/
    section.frase_motivacional h2{
        font-size: 1.3em;
    }
    /*Botão doe agora*/
     .botao-doe-agora {
        padding: 10px 20px; 
        font-size: 12px; 
    }
    /*
    /*dados da plataforma*/
    .dados_container{
        flex-direction: column;
        align-items: center;
    }
    .dados_caixas{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .dados{
        width: 100%;
        margin-bottom: 20px;
    }
    .dados_caixas h3{
        font-size: 1.7em;
    }
    /*dados da plataforma*/
    div.dados_texto h2{
        font-size: 2.5em;
    }
    div.dados_texto p{
        font-size: 1.2em;
        width: 70vw;
    }
    /* Estilo para os ícones na parte de dados */
    .dados i,
    .dados .material-symbols-outlined {
        font-size: 35px; 
    }

}
/*Telas de Tablet: entre 768px e 1024px*/
@media screen and (min-width:768px) and (max-width:1024px){
    h1{
        font-size: 3.3em;
    }
    nav a{
        font-size: 0.9em;
    }
    div h1{
        margin-left: 70px; /*espaçamento lateral esquerdo*/
    }
    #p_header{ /*espaçamento na parte de baixo e lateral do p*/
        margin-left: 70px;
    }
    .campanhas_destaque h2{
        font-size: 2.6em;
    }
    /*linha laranja*/
    .campanhas_destaque h2::after{
        content: ' ';
        display: block;
        width: 13.5rem;
        height: 0.3rem;
        background-color: #F15B43;
        margin-bottom: 20px;
    }
    #mao{
        font-size: 2.4em;
    }
    div#container_box{
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }
    .box {
        width: calc(33.33%);
        height: 305px; 
        transition: transform 0.3s ease;
    }
    .box:hover {
        transform: scale(1.05); /* Aumenta a escala quando passar o mouse */
    }
    /*tamanho do texto das caixas*/
    div.box p{
        font-size: 1.7em;
        font-weight: bold;
    }
    span#comida{
        font-size: 50px;
    }
    span#saude{
        font-size: 50px;
    }
    span#educacao{
        font-size: 50px;
    }
    /*sobre nós*/
    /*container principal que separa img e texto*/
    /*sobre nós*/
    div#container_sobre_nos {
        margin-top: 180px;
    }
    div#menu_sobre_nos a {
        width: 10vw;
    }
    div#container_sobre_nos {
        flex-wrap: nowrap;
    }
    div#sobre_nos h2{
        font-size: 2.9em;
    }
    div#sobre_nos p{
        font-size: 1.2em;
        width: 50vw;
    }
    img#kids2{
        margin-top: 300px;
        width: 40vw;
        height: 360px;
        border-radius: 5px;
    }
    /*texto do sobre nós*/
    div#texto_sobre_nos p{
        width: 45vw;
        font-size: 1.3em;
    }
    /*texto do sobre nós*/
    div#titulo_texto_sobre h3{
        color: #F15B43;
        font-size: 1.8em;
    }
    /*Foto com frase motivacional*/
    section.frase_motivacional{
        height: 400px;
    }
    /*frase_motivacional*/
    section.frase_motivacional h2{
        font-size: 2.3em;
    }
    /*Botão doe agora*/
     .botao-doe-agora {
        padding: 10px 20px; 
        font-size: 14px; 
    }
    /*dados da plataforma*/
    .dados_container{
        flex-direction: column;
        align-items: center;
    }
    .dados_caixas{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .dados{
        width: 100%;
        margin-bottom: 20px;
    }
    .dados_caixas h3{
        font-size: 1.9em;
    }
    /*dados da plataforma*/
    div.dados_texto h2{
        font-size: 2.5em;
    }
    div.dados_texto p{
        font-size: 1.2em;
        width: 600px;
    }
    /* Estilo para os ícones na parte de dados */
    .dados i,
    .dados .material-symbols-outlined {
        font-size: 40px; 
    }

    /*cabeçalho*/

}
/*Telas de desktop ou laptop: entre 1025px e 1440*/
@media screen and (min-width:1025px) and (max-width:1440px){
    header{
        height: 520px;
    }
    nav a{
        font-size: 1.0em;
    }
    h1{
        font-size: 3.9em;
    }
    div h1{
        margin-left: 100px;
    }
    #p_header{
        margin-left: 100px;
    }
    .campanhas_destaque h2{
        font-size: 2.9em;
    }
    /*linha laranja*/
    .campanhas_destaque h2::after{
        content: ' ';
        display: block;
        width: 15rem;
        height: 0.3rem;
        background-color: #F15B43;
        margin-bottom: 20px;
    }
    #mao{
        font-size: 2.7em;
    }
    div#container_box{
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }
    .box {
        width: calc(33.33%);
        height: 315px; 
        transition: transform 0.3s ease;
    }
    .box:hover {
        transform: scale(1.05); /* Aumenta a escala quando passar o mouse */
    }
    /*tamanho do texto das caixas*/
    div.box p{
        font-size: 1.9em;
        font-weight: bold;
    }
    a.a_doeagora{
        font-size: 1.2em;
    }
    span#comida{
        font-size: 50px;
    }
    span#saude{
        font-size: 50px;
    }
    span#educacao{
        font-size: 50px;
    }
    /*sobre nós*/
    div#container_sobre_nos {
        margin-top: 180px;
    }
    div#menu_sobre_nos a {
        width: 110px;
    }
    div#sobre_nos h2{
        font-size: 3.2em;
    }
    div#sobre_nos p{
        font-size: 1.1em;
        width: 40vw;
    }
    img#kids2{
        margin-top: 200px;
        width: 450px;
        height: 350px;
        border-radius: 5px;
    }
    
    /*texto do sobre nós*/
    div#titulo_texto_sobre h3{
        color: #F15B43;
        font-size: 2em;
    }
    /*Foto com frase motivacional*/
    section.frase_motivacional{
        height: 450px;
    }
    /*frase_motivacional*/
    section.frase_motivacional h2{
        font-size: 2.6em;
    }
    /*botao ajude agora*/
    .botao-ajude-agora {
        padding: 10px 20px; 
        font-size: 9px; 
    }
    /*Botão doe agora*/
     .botao-doe-agora {
        padding: 10px 20px; 
        font-size: 20px; 
    }
    /*dados da plataforma*/
    div.dados_texto h2{
        font-size: 2.5em;
    }
    div.dados_texto p{
        font-size: 1.2em;
    }
    /*container de dados*/
    .dados_caixas{
        gap: 40px;
    }
    .dados_caixas h3{
        font-size: 2.0em;
    }
    .dados_texto p{
        font-size: 1.3em;
        width: 500px;
    }
    /* Estilo para os ícones na parte de dados */
    .dados i,
    .dados .material-symbols-outlined {
        font-size: 30px; 
    }

}
/*Telas grandes : acima de 1441px*/
@media screen and (min-width:1441px) {
    header{
        height: 650px;
    }
    nav a{
        font-size: 1.1em;
    }
    h1{
        font-size: 4.1em;
    }
    div h1{
        margin-left: 125px;
    }
    #p_header{
        margin-left: 125px;
        font-size: 1.2em;
    }
    .campanhas_destaque h2{
        font-size: 3em;
    }
    /*linha laranja*/
    .campanhas_destaque h2::after{
        content: ' ';
        display: block;
        width: 15.5rem;
        height: 0.3rem;
        background-color: #F15B43;
        margin-bottom: 20px;
    }
    #mao{
        font-size: 3em;
    }
    div#container_box{
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }
    .box {
        width: calc(33.33%);
        height: 390px; 
        transition: transform 0.3s ease;
        padding-bottom: 40px;
    }
    .box:hover {
        transform: scale(1.05); /* Aumenta a escala quando passar o mouse */
    }
    /*tamanho do texto das caixas*/
    div.box p{
        font-size: 2.4em;
        font-weight: bold;
    }
    a.a_doeagora{
        font-size: 1.3em;
    }
    span#comida{
        font-size: 64px;
    }
    span#saude{
        font-size: 64px;
    }
    span#educacao{
        font-size: 64px;
    }
    /*sobre nós*/
    div#menu_sobre_nos a {
        width: 120px;
    }
    div#sobre_nos h2{
        font-size: 3.5em;
    }
    div#sobre_nos p{
        font-size: 1.1em;
        width: 30vw;
    }
    img#kids2{
        margin-top: 290px;
        width: 540px;
        height: 460px;
        border-radius: 5px;
    }
    /*texto do sobre nós*/
    div#titulo_texto_sobre h3{
        color: #F15B43;
        font-size: 2em;
    }
    div#texto_sobre_nos p{
        width: 550px;
        font-size: 1.5em;
        color: rgba(128, 128, 128, 0.774);
    }
    /*Foto com frase motivacional*/
    section.frase_motivacional{
        height: 500px;
    }
    /*frase_motivacional*/
    section.frase_motivacional h2{
        font-size: 2.8em;
    }
    /*botao ajude agora*/
    .botao-ajude-agora {
        padding: 10px 20px; 
        font-size: 10px; 
    }
    /*Botão doe agora*/
     .botao-doe-agora {

        font-size: 23px; 
    }

    /*dados da plataforma*/
    div.dados_texto h2{
        font-size: 2.7em;
    }
    .dados_texto p{
        font-size: 1.3em;
        width: 600px;
    }
    .dados_caixas h3{
        font-size: 2.3em;
    }
    /*container de dados*/
    .dados_caixas{
        gap: 70px;
    }
    /* Estilo para os ícones na parte de dados */
    .dados i,
    .dados .material-symbols-outlined {
        font-size: 40px; 
        
    }

    /*cabeçalho*/
}

