@charset "UTF-8";
/*img com frase motivacional*/
section.frase_motivacional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/pexels-rdne-6646917\ \(1\).jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    background-color: #434B56; 
    background-blend-mode: multiply; /*vai  mesclar a cor com a imagem */
}
section.frase_motivacional h2{
    color: white;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
/*Botão doe agora*/
.criar_campanhas{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.criar_campanhas button{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.criar_campanhas button:hover{
    background-color: white;
    color: #434b56;
}

