@charset "UTF-8";
/*img com frase motivacional*/
section.frase_motivacional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/pexels-rdne-6646917\ \(1\).jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    background-color: #434B56; 
    background-blend-mode: multiply; /*vai  mesclar a cor com a imagem */
}
section.frase_motivacional h2{
    color: white;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
/*Botão doe agora*/
 .botao-doe-agora {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    display: inline-block;
    border: 2px solid white; 
    border-radius: 30px;
    color: white; 
    background-color: transparent; 
    padding: 10px 20px; 
    font-size: 12px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.botao-doe-agora:hover {
    background-color: white; 
    color: #434B56;
}
