@charset "UTF-8";
.container_clientes{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clientes{
    display: flex;
    gap: 50px;
}
.clientes img{
    width: 170px;
}
.clientes_2{
    margin-top: 40px;
    display: flex;
    gap: 50px;
}
.clientes_2 img{
    width: 170px;
    height: 55px;
}
.clientes_3{
    margin-top: 40px;
    display: flex;
    gap: 50px;
}
.clientes_3 img{
    width: 170px;
    height: 55px;
}
.clientes_4{
    margin-top: 40px;
    display: flex;
    gap: 50px;
}
.clientes_4 img{
    width: 170px;
    height: 65px;
}
.h2_clientes{
    text-align: center;
    margin-bottom: 20px;
    color: #F15B43;
}

