@charset "UTF-8";
.container_clientes{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clientes{
    display: flex;
    gap: 50px;
}
.clientes img{
    width: 170px;
}
.clientes_2{
    margin-top: 40px;
    display: flex;
    gap: 50px;
}
.clientes_2 img{
    width: 160px;
    height: 50px;
}
.clientes_3{
    margin-top: 40px;
    display: flex;
    gap: 50px;
}
.clientes_3 img{
    width: 160px;
    height: 50px;
}