.container_video{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
    height: 600px;
    background-image: url(../img/img\ do\ fundo\ do\ video.jpg);
    background-color: #3C444F;
    background-blend-mode: multiply; 
    background-size: cover;
    background-position: bottom;
}
iframe{
    border-radius: 10px;
    width: 450px;
    height: 350px;
}
.texto_video h2{
    font-size: 2.9em;
    color: white;
    margin-bottom: 30px;
}
.texto_video p{
    font-size: 1.2em;
    width: 400px;
    color: white;
}
@media screen and (min-width:768px) and (max-width:1024px){
    .container_video{
        flex-direction: column;
        height: 800px;
    }
    iframe{
        width: 550px;
    }
    .texto_video h2{
        text-align: center;
    }
    .texto_video p{
        width: 500px;
    }
}