.container_video{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
    height: 600px;
    background-image: url(../img/img\ do\ fundo\ do\ video.jpg);
    background-color: #3C444F;
    background-blend-mode: multiply; 
    background-size: cover;
    background-position: bottom;
}

.texto_video h2{
    text-align: center;
    color: white;
}