/*
Breakpoints Atualizados seguindo a w3c

Tablets:
Breakpoint: min-width: 768px e max-width: 1024px

Laptops e Desktops:
Breakpoint: min-width: 1025px e max-width: 1440px

Desktops Grandes (4K e telas maiores):
Breakpoint: min-width: 1441px
*/
@media screen and (max-width: 420px) {
    .container_login {
        background-color: #fe8f20d7;
    }
     /* Para telas menores */
    #menu_normal {
        display: none;
    }
    #menu_hamburguer {
        margin-top: 20px;
        display: block;
        cursor: pointer;
    }
    /* Estilos para o menu hambúrguer quando ativado */
    .menu-aberto #menu_normal {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Links do menu no modo hambúrguer */
    .menu-aberto #menu_normal a {
    padding: 10px;
    border-top: 1px solid #f0f0f0;
    }
    .botao_header{
    margin-bottom: 25px;
    }
    .container_interno{
        margin-top: 100px;
        display: flex;
        justify-content: flex-start;
        width: 95%;
        height: 1100px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.514);
        border-radius: 10px;
    }
    .input_box{
        width: 90%;

    }
    .genero_titulo h6{
        font-size: 1em;
        font-weight: normal;
    }
    .titulo{
        margin-top: 20px;
        font-size: 0.7em;
     }
     .titulo h1::after{
        width: 8rem;

    }
    .form_img {
        display: none;
    }
    .form {
        width: 100%; 
    }
    .trocar_cadastro{
        text-align: center;
        font-size: 0.8em;
        width: 100px;
    }

}
/*Telas celulares maiores*/
@media screen and (min-width:420px) and (max-width:767px){
    /*menu hamburguer*/
    #menu_normal {
        display: none;
    }
    #menu_hamburguer {
        margin-top: 20px;
        display: block;
        cursor: pointer;
    }
    /* Estilos para o menu hambúrguer quando ativado */
    .menu-aberto #menu_normal {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Links do menu no modo hambúrguer */
    .menu-aberto #menu_normal a {
    padding: 10px;
    border-top: 1px solid #f0f0f0;
    }
    .botao_header{
    margin-bottom: 25px;
    }
    .titulo{
       margin-top: 20px;
       font-size: 0.7em;
    }
    .input_box{
        width: 80%;
    }
    .genero_titulo h6{
        font-size: 1em;
    }
    .titulo h1::after{
        width: 8.5rem;

    }
    .container{
        height: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_interno{
        display: flex;
        justify-content: flex-start;
        width: 90%;
        height: 1000px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.514);
        border-radius: 10px;
    }
    .form_img {
        display: none;
    }
    .form {
        width: 100%; 
    }
}
/*Telas de Tablet: entre 768px e 1024px*/
@media screen and (min-width:768px) and (max-width:1024px){
     /*menu hamburguer*/
     #menu_hamburguer{
        display: none;
    }
    nav a{
        font-size: 0.9em;
    }
    .titulo{
        margin-top: 20px;
     }
     .input_box{
         width: 90%;
     }
     .container{
         height: 1200px;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .container_interno{
         display: flex;
         justify-content: flex-start;
         width: 70%;
         height: 1100px;
         box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.514);
         border-radius: 10px;
     }
     .form_img {
         display: none;
     }
     .form {
         width: 100%; 
     }
}
/*Telas de desktop ou laptop: entre 1025px e 1440*/
@media screen and (min-width:1025px) and (max-width:1440px){
     /*menu hamburguer*/
     #menu_hamburguer{
        display: none;
    }
    .titulo{
        margin-top: 20px;
     }
     .form_img {
         display: none;
         width: 50%;
     }
     .input_box{
        width: 100%;
     }
     .form {
         width: 60%; 
     }
}
/*Telas grandes : acima de 1441px*/
@media screen and (min-width:1441px) {
     /*menu hamburguer*/
     #menu_hamburguer{
        display: none;
    }
    .form_img {
        width: 50%; 
    }
    .form {
        width: 50%; 
    }
}




/*media query só pra footer*/
@media screen and (max-width:968px){
    #footer_container{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media screen and (max-width:626px){
    #footer_container{
        grid-template-columns: repeat(1,1fr);
        
    }
}
