@charset "UTF-8";
/*Formulário de doação*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/*pra centralizar meu item*/
.container_principal_doacao{
    width: 100vw;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*container form*/
.container_doacao{
    display: flex;
    width: 80%;
    height: 800px;
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
}
.img_doacao{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
}
.img_doacao img{
    width: 31rem;
}
.formulario{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.doacao_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.doacao_header h2::after{
    content: ' ';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #F15B43;
    margin: 0.5rem 0;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 100px;
    
}
.grupo_input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.input_campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    margin-right: 1rem;
}
.input_campo input{
   margin: 0.6rem 0;
   padding: 0.8rem 1.2rem;
   border: none;
   border-radius: 10px;
   box-shadow: 1px 1px 6px #0000001c;
}
.input_campo input:hover{
   background-color: #eeeeee75;
 }
 .input_campo input:focus-visible{
    outline: 1px solid #FE8F20;
 }
 
 .valor_doacao {
    text-align: center;
    margin: 20px 0;
}

.opcoes_valor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.opcoes_valor label {
    position: relative;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.opcoes_valor label:hover {
    background-color: #FE8F20;
}

.opcoes_valor input[type="radio"] {
    display: none; /* Esconde o botão  */
}
.botao-doar {
    width: 100%;
    background-color: #F15B43;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.botao-doar:hover {
    background-color: #FE8F20;
    transform: scale(1.05);
}

.botao-doar:active {
    background-color: #F15B43;
    transform: scale(0.98);
}

/*telas de tablet*/
@media screen and (max-width: 1330px) {
    .img_doacao {
        display: none;
    }
    .container_doacao {
        width: 80%;
    }
    .formulario {
        width: 100%;
    }

}
/*telas de celular fica essa*/
@media screen and (max-width: 660px) {
    .container_doacao {
        width: 90%;
        height: auto;
    }
    .grupo_input {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        padding-right: 2rem;
    }
    .input_campo {
        width: 100%;
    }
    .doacao_header {
        gap: 30px;
    }
}